<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>470990061456-e17urfkc6msehdbhdrv8rd8tt1fjh4dh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.470990061456-e17urfkc6msehdbhdrv8rd8tt1fjh4dh</string>
	<key>API_KEY</key>
	<string>AIzaSyA72iM24a7qODTzTCKHMLLIOhmI1QCjJic</string>
	<key>GCM_SENDER_ID</key>
	<string>470990061456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gali.Post-Prototype</string>
	<key>PROJECT_ID</key>
	<string>post-prototype-369b6</string>
	<key>STORAGE_BUCKET</key>
	<string>post-prototype-369b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:470990061456:ios:9bebb9abf16fdba3603d15</string>
</dict>
</plist>